Repository npgsql/npgsql, pull requests merged in 2018-08, with the labels that each got.

#2089 Removed an obsolete section from the NTS documentation
  doc/types/nts.md
Labels: doc

#2094 Field pg_type.typcategory is added after ver 8.4
  src/Npgsql/PostgresDatabaseInfo.cs
Labels: compatibility

#2131 Update target frameworks
  .appveyor.yml
  doc/release-notes/4.1.md
  doc/toc.md
  src/MSI/MSI.wixproj
  src/MSI/Npgsql.wxs
  src/Npgsql.GeoJSON/Npgsql.GeoJSON.csproj
  src/Npgsql.Json.NET/Npgsql.Json.NET.csproj
  src/Npgsql.LegacyPostgis/Npgsql.LegacyPostgis.csproj
  src/Npgsql.NetTopologySuite/NetTopologySuiteHandler.cs
  src/Npgsql.NetTopologySuite/Npgsql.NetTopologySuite.csproj
  src/Npgsql.NodaTime/Npgsql.NodaTime.csproj
  src/Npgsql.RawPostgis/Npgsql.RawPostgis.csproj
  src/Npgsql/Counters.cs
  src/Npgsql/Npgsql.csproj
  src/Npgsql/NpgsqlConnector.cs
  src/Npgsql/NpgsqlDataReader.cs
  src/Npgsql/PGUtil.cs
  src/Npgsql/Schema/DbColumn.cs
  src/Npgsql/WindowsUsernameProvider.cs
  src/VSIX/VSIX.csproj
  test/Npgsql.PluginTests/Npgsql.PluginTests.csproj
  test/Npgsql.PluginTests/Support/DebugAssertSetupFixture.cs
  test/Npgsql.Tests/ConnectionTests.cs
  test/Npgsql.Tests/DistributedTransactionTests.cs
  test/Npgsql.Tests/ExceptionTests.cs
  test/Npgsql.Tests/Npgsql.Tests.csproj
  test/Npgsql.Tests/PerformanceCounterTests.cs
  test/Npgsql.Tests/Support/DebugAssertSetupFixture.cs
  test/Npgsql.Tests/TestUtil.cs
Labels: breakage, doc
